@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url(images/Beautiful-Space-Wallpaper-4k-Background.jpg) 
    no-repeat center center /cover;
    background-attachment: fixed;
    overflow: hidden;
}
h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}
p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    font-size: 3rem;
    margin: 0 .5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}
#rock{
    background-color: rgb(70, 249, 255);
}
#paper{
    background-color: rgb(69, 255, 109);
}
#scissors{
    background-color: rgb(69, 168, 255);
}

#user-score{
    color: rgb(69, 255, 81);
}

#computer-score{
    color: rgb(255, 69, 69);
}
#result{
    margin-top: 10px;
}